* {
    margin: 0;
    padding: 0;
    overflow: visible;
    box-sizing: border-box;
    /* outline: 2px solid tomato; */
}

body {
    height: 100%;
    font-family: Tahoma, Verdana, sans-serif;
    background: hsla(30, 1%, 58%, 0.6);
    color:hsla(30, 1%, 7%, 1)

}

header {
    display: flex;
    flex-direction: row;
}



