/*General styles*/

* {
    margin: 2vmin;
    padding: 1vmin;
    overflow: visible;
    box-sizing: border-box;
    text-align: justify;
    /*outline: 2px solid tomato;*/
}

body {
    height: 100%;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: 16px;
    background-color: hsla(0, 0%, 75%, 1)/*hsla(30, 1%, 58%, 1)*/;
    color:hsla(0, 0%, 25%, 1)/*hsla(30, 1%, 7%, 1)*/;
}


a {
    text-decoration: none;
    font-weight: bold;
    color: /*hsla(28, 100%, 43%, 1)hsla(58, 100%, 50%, 1)*/hsla(60, 100%, 50%, 1);
    text-shadow: 2px 2px hsla(0, 0%, 15%, 1)/*hsla(30, 1%, 1%, 1)*/ ; 
}

h1 {
    padding-bottom: 2vmin;
    font-size: 2rem;
    text-shadow: 2px 2px hsla(0, 0%, 75%, 1)/*hsla(30, 1%, 58%, 0.5)*/;
}

h2 {
    line-height: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}


article {
    padding: 2vmin;
    box-shadow: 0 0 1rem hsla(0, 0%, 45%, 1)/*hsla(30, 1%, 40%, 1)*/;
    margin-bottom: 2vmin;
}

section {
    margin: 5vmin;
    padding: 1.5vmin;
    background-color: hsla(0, 0%, 85%, 1)/*hsla(30, 1%, 90%, 0.6)*/;
    box-shadow: 0 0 0.5rem hsla(0, 0%, 55%, 1)/*hsla(30, 1%, 40%, 1)*/;
}

p {
    padding: 1vmin;
}

li {
    list-style: none;  
}


/*header-specific styles*/

header {
    padding-bottom: 3vmin;
}

.logo_nav {
    padding: 2vmin;
    margin: 2vmin;
    display: inline-block;
    background-color: hsla(0, 0%, 75%, 1)/*hsla(30, 1%, 58%, 0.5)*/;
    box-shadow: 0 0 0.5rem hsla(0, 0%, 45%, 1)/*hsla(30, 1%, 25%, 1)*/;
}

#profile_pic {  
    float: left;
    margin: 5vmin;
    width: 35%;
    height: auto;
}

nav {
    float: right;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.nav_link {
    text-align: right;
}

.title {
    background-color: /*hsla(28, 100%, 43%, 1)hsla(58, 100%, 50%, 1)*/hsla(60, 100%, 50%, 1);
    padding: 4vmin;
    margin: 2vmin;
    margin-bottom: 0;
}



/*footer-specific styles*/

footer {
    margin-top: 0;
    background-color: hsla(0, 0%, 75%, 1)/*hsla(30, 1%, 58%, 0.5)*/;
}


#contact_ul {
    display: flex;
    justify-content: center;
}

li.contact_link {
    margin: 0;
    padding: 0.5vmin;
    font-size: 0.95rem;
    
}

#email {
   text-align: center;
   font-size: 0.85rem;
}


/*Styles for large screen devices*/

@media (min-width: 650px) {

    * {
        padding: 0.5vmin;
        margin: 1vmin;
        
    }
  
    header {
        display: flex;
        flex-flow: row-reverse;
        height: 30vh;
        position: sticky;
        top: 0;
        margin: 0;
        background-color: hsla(0, 0%, 75%, 1)/*hsla(30, 1%, 58%, 1) !important*/;
    }

    .title {
        width: 66vw;
        height: 95%;
    }
    .logo_nav {
        
        width: 34vw;
        height: 95%;
        padding-top: 0;
        display: grid;
        grid-template-columns: 10vw 10vw 14vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "profile_pic profile_pic nav"
        "profile_pic profile_pic nav"
        "profile_pic profile_pic nav"
        ;
        justify-content: space-around;
    }

    nav {
        grid-area: nav;
        width: 100%;
        line-height: 2rem;
        /*flex-direction: column;
        width: 20%;*/
        
    }

    a.nav_link {
        padding: 1vmin;
        width: 11vw;
        text-align: end;
    }

    #profile_pic {
        grid-area: profile_pic;
        width: 100%;
        max-height:24vmin;
        max-width: 24vmin;
        margin: auto;
        /*width: 50%;
        vertical-align: top;*/

    }
    
    #skills {
        display: grid;
        grid-template-columns: 42vw 42vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "skills_h3 skills_h3"
        "languages other_skills"
        "languages other_skills"
        ;
        line-height: 1.8rem;  
    }

    #skills_h3 {
        grid-area: skills_h3;
    }
    
    #languages {
        grid-area: languages;
        width: 35vw;
    }

    #other_skills {
        grid-area: other_skills;
        width: 35vw;
    }

    



}













