* {
    margin: 2vmin;
    padding: 0;
    overflow: visible;
    box-sizing: border-box;
    outline: 2px solid tomato;
}

body {
    height: 100%;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: 16px;
    background: hsla(30, 1%, 58%, 0.6);
    color:hsla(30, 1%, 7%, 1);
}


.logo_nav {
    padding: 2vmin;
    width: 100%;
    display: inline-block;
    
}

#profile-pic {  
    float: left;
    margin: 5vmin;
    width: 40%;
    height: auto;
}

nav {
    float: right;
    margin: 5vmin;
    width: 30%;
    display: flex;
    flex-direction: column;

}

.title {
    background-color: hsla(58, 100%, 50%, 1);
    padding: 2vmin;
}


h1 {
    padding-bottom: 2vmin;
}

article {
    padding: 2vmin;
}

section {
    margin: 3vmin;
}

p {
    padding: 2vmin;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}








